//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
//
// Use of this source code is subject to the terms of the Microsoft end-user
// license agreement (EULA) under which you licensed this SOFTWARE PRODUCT.
// If you did not accept the terms of the EULA, you are not authorized to use
// this source code. For a copy of the EULA, please see the LICENSE.RTF on your
// install media.
//
// This is a part of the Microsoft Foundation Classes C++ library.
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __WCERES_RC__
#define __WCERES_RC__

#ifndef _AFXDLL

#ifndef __AFXRES_H__
    #include "afxres.h"
#endif

#if defined(_WIN32_WCE_PSPC) && (_WIN32_WCE >= 300)

AFXCE_IDR_SCRATCH_SHMENU RCDATA DISCARDABLE
BEGIN
    AFXCE_IDR_SCRATCH_SHMENU, 1,
    I_IMAGENONE, IDM_SHAREDNEW, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_SHNEW, 0, NOMENU, 
END

AFXCE_IDR_SCRATCH_SHMENU MENU DISCARDABLE 
BEGIN
    POPUP "&Temp"
    BEGIN
        MENUITEM "foo", 100
    END
END

AFXCE_IDD_SAVEMODIFIEDDLG DIALOG DISCARDABLE  0, 0, 156, 71
STYLE WS_POPUP | WS_CAPTION | DS_CENTER
BEGIN
    DEFPUSHBUTTON   "Sim",IDYES,102,2,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,102,35,50,14
    PUSHBUTTON      "Não",IDNO,102,18,50,14
    PUSHBUTTON      "Salvar como...",ID_FILE_SAVE_AS,102,52,50,14
    LTEXT           AFX_IDP_ASK_TO_SAVE,AFX_IDP_ASK_TO_SAVE,4,11,102,23
END

#endif // _WIN32_WCE_PSPC

#if !defined(_WIN32_WCE_NO_FINDREPLACE)

#if defined(_WIN32_WCE_PSPC) && (_WIN32_WCE >= 300)
#define WCE_FR_FIND_CAPTION          "Localizar"
#define WCE_FR_MATCH_WHOLE_WORD_ONLY "Somente palavra inteira"
#define	WCE_FR_MATCH_CASE            "Diferenciar maiúsculas de minúsculas"
#define WCE_FR_UP                    "Acima"
#define WCE_FR_DOWN                  "Abaixo"
#define WCE_FR_FIND_NEXT             "Localizar próxima"
#define WCE_FR_CANCEL                "Cancelar"
#define WCE_FR_HELP                  "Ajuda"
#define WCE_FR_DIRECTION             "Direção"
#define WCE_FR_FIND_WHAT             "Localizar:"
#define WCE_FR_REPLACE_CAPTION       "Substituir"
#define WCE_FR_REPLACE_WITH          "Substituir por:"
#define WCE_FR_REPLACE               "Substituir"
#define WCE_FR_REPLACE_ALL           "Substituir tudo"
#else
#define WCE_FR_FIND_CAPTION          "Localizar"
#define WCE_FR_MATCH_WHOLE_WORD_ONLY "Somente palavra &inteira"
#define	WCE_FR_MATCH_CASE            "&Diferenciar maiúsculas de minúsculas"
#define WCE_FR_UP                    "A&cima"
#define WCE_FR_DOWN                  "A&baixo"
#define WCE_FR_FIND_NEXT             "Localiza&r próxima"
#define WCE_FR_CANCEL                "Cancelar"
#define WCE_FR_HELP                  "Aj&uda"
#define WCE_FR_DIRECTION             "Direção"
#define WCE_FR_FIND_WHAT             "&Localizar:"
#define WCE_FR_REPLACE_CAPTION       "Substituir"
#define WCE_FR_REPLACE_WITH          "&Substituir por:"
#define WCE_FR_REPLACE               "Su&bstituir"
#define WCE_FR_REPLACE_ALL           "Substituir &tudo"
#endif // _WIN32_WCE_PSPC

#if defined(_WIN32_WCE_PSPC) 

WCE_FINDDLG DIALOG DISCARDABLE  0, 0, 156, 117
#if defined(_WIN32_WCE_PSPC) && (_WIN32_WCE >= 300)
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
#else
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
#endif // _WIN32_WCE_PSPC
CAPTION WCE_FR_FIND_CAPTION
BEGIN
    LTEXT           WCE_FR_FIND_WHAT,-1,5,9,71,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT1,78,7,73,14,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,5,38,146,12
    CONTROL         WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,5,25,146,12
    CONTROL         WCE_FR_UP,ID_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,88,65,61,10
    CONTROL         WCE_FR_DOWN,ID_RADIO2,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    88,79,61,10
    GROUPBOX        WCE_FR_DIRECTION,ID_GROUP1,83,53,68,43
    PUSHBUTTON      WCE_FR_FIND_NEXT,ID_BUTTON_FIND,5,57,71,14,WS_GROUP
    PUSHBUTTON      WCE_FR_CANCEL,IDCANCEL,5,76,71,14,WS_GROUP
    PUSHBUTTON      WCE_FR_HELP,ID_BUTTON_HELP,5,96,71,14,WS_GROUP
#if (_WIN32_WCE >= 300)
	CONTROL			"",-1,WC_SIPPREF,NOT WS_VISIBLE,-10,-10,5,5
#endif // _WIN32_WCE
END

WCE_REPLACEDLG DIALOG DISCARDABLE  0, 0, 156, 130
#if defined(_WIN32_WCE_PSPC) && (_WIN32_WCE >= 300)
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
#else
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
#endif // _WIN32_WCE_PSPC
CAPTION WCE_FR_REPLACE_CAPTION
BEGIN
    LTEXT           WCE_FR_FIND_WHAT,-1,5,9,71,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT1,78,7,73,14,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           WCE_FR_REPLACE_WITH,-1,5,26,71,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT2,78,24,73,14,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,5,53,146,12
    CONTROL         WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,5,40,146,12
    PUSHBUTTON      WCE_FR_FIND_NEXT,ID_BUTTON_FIND,5,71,64,14,WS_GROUP
    PUSHBUTTON      WCE_FR_REPLACE,ID_BUTTON1,78,71,73,14,WS_GROUP
    PUSHBUTTON      WCE_FR_REPLACE_ALL,ID_BUTTON2,78,91,73,14,WS_GROUP
    PUSHBUTTON      WCE_FR_CANCEL,IDCANCEL,5,91,64,14,WS_GROUP
    PUSHBUTTON      WCE_FR_HELP,ID_BUTTON_HELP,5,110,64,14,WS_GROUP
#if (_WIN32_WCE >= 300)
	CONTROL			"",-1,WC_SIPPREF,NOT WS_VISIBLE,-10,-10,5,5
#endif // _WIN32_WCE
END

WCE_FINDREPLACEBAR DIALOG DISCARDABLE  0, 0, 330, 16
STYLE WS_CHILD
BEGIN
    PUSHBUTTON      "Avançar",ID_BUTTON_FIND,3,2,34,10
    PUSHBUTTON      "Substituir",ID_BUTTON1,38,2,42,10
    PUSHBUTTON      "Substituir tudo",ID_BUTTON2,81,2,52,10
    PUSHBUTTON      "OK",IDOK,134,2,22,10
END

#else // _WIN32_WCE_PSPC
#if (_WIN32_WCE < 300)
WCE_FINDDLG DIALOG DISCARDABLE  0, 0, 290, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION WCE_FR_FIND_CAPTION
BEGIN
    LTEXT           WCE_FR_FIND_WHAT,-1,5,9,83,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT1,90,7,114,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,4,33,139,12
    CONTROL         WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,4,48,139,12
    CONTROL         WCE_FR_UP,ID_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,147,33,62,12
    CONTROL         WCE_FR_DOWN,ID_RADIO2,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    147,48,62,12
    GROUPBOX        WCE_FR_DIRECTION,ID_GROUP1,143,23,68,40
    PUSHBUTTON      WCE_FR_FIND_NEXT,IDOK,219,5,66,14,WS_GROUP
    PUSHBUTTON      WCE_FR_CANCEL,IDCANCEL,219,27,66,14,WS_GROUP
    PUSHBUTTON      WCE_FR_HELP,ID_BUTTON_HELP,219,49,66,14,WS_GROUP
END

WCE_REPLACEDLG DIALOG FIXED IMPURE  0, 0, 290, 74
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION WCE_FR_REPLACE_CAPTION
BEGIN
    LTEXT           WCE_FR_FIND_WHAT,-1,5,9,83,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT1,90,7,114,12,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           WCE_FR_REPLACE_WITH,-1,5,26,83,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT2,90,24,114,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,5,42,158,12
    CONTROL         WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,5,57,158,12
    PUSHBUTTON      WCE_FR_FIND_NEXT,IDOK,212,4,72,14,WS_GROUP
    PUSHBUTTON      WCE_FR_REPLACE,ID_BUTTON1,212,21,72,14,WS_GROUP
    PUSHBUTTON      WCE_FR_REPLACE_ALL,ID_BUTTON2,212,38,72,14,WS_GROUP
    PUSHBUTTON      WCE_FR_CANCEL,IDCANCEL,212,55,72,14,WS_GROUP
    PUSHBUTTON      WCE_FR_HELP,ID_BUTTON_HELP,166,55,38,14,WS_GROUP
END
#else //_WIN32_WCE
WCE_FINDDLG DIALOG DISCARDABLE  0, 0, 270, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION WCE_FR_FIND_CAPTION
BEGIN
    LTEXT           WCE_FR_FIND_WHAT,-1,5,9,63,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT1,70,7,114,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,4,33,119,12
    CONTROL         WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,4,48,119,12
    CONTROL         WCE_FR_UP,ID_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,127,33,62,12
    CONTROL         WCE_FR_DOWN,ID_RADIO2,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,
                    127,48,62,12
    GROUPBOX        WCE_FR_DIRECTION,ID_GROUP1,123,23,68,40
    PUSHBUTTON      WCE_FR_FIND_NEXT,IDOK,199,5,66,14,WS_GROUP
    PUSHBUTTON      WCE_FR_CANCEL,IDCANCEL,199,27,66,14,WS_GROUP
    PUSHBUTTON      WCE_FR_HELP,ID_BUTTON_HELP,199,49,66,14,WS_GROUP
END

WCE_REPLACEDLG DIALOG FIXED IMPURE  0, 0, 270, 74
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION WCE_FR_REPLACE_CAPTION
BEGIN
    LTEXT           WCE_FR_FIND_WHAT,-1,5,9,63,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT1,70,7,114,12,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           WCE_FR_REPLACE_WITH,-1,5,26,63,8,NOT WS_GROUP
    EDITTEXT        ID_EDIT2,70,24,114,12,ES_AUTOHSCROLL | WS_GROUP
    CONTROL         WCE_FR_MATCH_WHOLE_WORD_ONLY,ID_CHECK1,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,5,42,138,12
    CONTROL         WCE_FR_MATCH_CASE,ID_CHECK2,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,5,57,138,12
    PUSHBUTTON      WCE_FR_FIND_NEXT,IDOK,192,4,72,14,WS_GROUP
    PUSHBUTTON      WCE_FR_REPLACE,ID_BUTTON1,192,21,72,14,WS_GROUP
    PUSHBUTTON      WCE_FR_REPLACE_ALL,ID_BUTTON2,192,38,72,14,WS_GROUP
    PUSHBUTTON      WCE_FR_CANCEL,IDCANCEL,192,55,72,14,WS_GROUP
    PUSHBUTTON      WCE_FR_HELP,ID_BUTTON_HELP,146,55,38,14,WS_GROUP
END
#endif // _WIN32_WCE
#endif // _WIN32_WCE_PSPC

#endif // _WIN32_WCE_NO_FINDREPLACE

#endif // !_AFXDLL
#endif // __WCERES_RC__
