#include <windows.h>

#include "res.h"

1 RT_MANIFEST winmine.xml

ID_ICON_MAIN    ICON bmp/winmine.ico

ID_BMP_BLOCKS BITMAP bmp/blocks.bmp
ID_BAW_BLOCKS BITMAP bmp/blocksbw.bmp
ID_BMP_LED    BITMAP bmp/led.bmp
ID_BAW_LED    BITMAP bmp/ledbw.bmp
ID_BMP_BUTTON BITMAP bmp/button.bmp
ID_BAW_BUTTON BITMAP bmp/buttonbw.bmp

ID_TUNE_TICK  WAVE   bmp/tick.wav
ID_TUNE_WON   WAVE   bmp/win.wav
ID_TUNE_LOST  WAVE   bmp/explode.wav

#include "pref.dlg"
#include "strings.inc"
#include "menu.inc"

#if defined(_WIN32_WCE) || defined(UNDER_CE)
#include <winver.h>
#else
#include <ntverp.h>
#endif

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     TEXT("Entertainment Pack Minesweeper Game")
#define VER_INTERNALNAME_STR        TEXT("winmine\0")
#define VER_ORIGINALFILENAME_STR    TEXT("WINMINE.EXE")

#ifndef VER_FILEFLAGSMASK
#define VER_FILEFLAGSMASK 0x3F
#endif

#ifndef VER_FILEFLAGS
#define VER_FILEFLAGS VS_FFI_FILEFLAGSMASK
#endif

#ifndef VER_FILEOS
#define VER_FILEOS VOS__WINDOWS32
#endif

#ifndef VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR TEXT("Microsoft")
#endif

#include "common.ver"
