//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
//
// Use of this source code is subject to the terms of the Microsoft end-user
// license agreement (EULA) under which you licensed this SOFTWARE PRODUCT.
// If you did not accept the terms of the EULA, you are not authorized to use
// this source code. For a copy of the EULA, please see the LICENSE.RTF on your
// install media.
//
// mfcole.rc : Defines the resources for the MFC OLE DLL
//
// This is a part of the Microsoft Foundation Classes C++ library.
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.


#include "afxres.h"

// include all the standard resources
#include "afxolecl.rc"
#include "afxolesv.rc"
#include "afxctl.rc"

/////////////////////////////////////////////////////////////////////////////
// Version stamp for this .DLL

//#include "afxbld_.h"
#include "version.h"
#include "stdver.h"

#ifdef _DEBUG

// Version Info for MFCO42D.DLL
VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       rmj,rmm,rup,_MFC_RBLD
  PRODUCTVERSION    rmj,rmm,0,0
#if !defined(_WIN32_WCE)
  FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
#ifndef RELEASE
  FILEFLAGS         VS_FF_DEBUG|VS_FF_PRERELEASE
#else
  FILEFLAGS         0,VS_FF_DEBUG
#endif
  FILEOS            VOS_NT_WINDOWS32
  FILETYPE          VFT_DLL
  FILESUBTYPE       0   // not used
#endif // _WIN32_WCE
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilual
		BEGIN
			VALUE "CompanyName",     "Microsoft Corporation\0"
			VALUE "FileDescription", "MFCOLE Shared Library - Debug Version\0"
			VALUE "FileVersion",     FULLSZVER "\0"
#if !defined(_WIN32_WCE)
			VALUE "InternalName",    "MFCOLED\0"
#endif // _WIN32_WCE
			VALUE "LegalCopyright",  "Copyright (C) Microsoft Corp. 1993-2004\0"
#if !defined(_WIN32_WCE)
			VALUE "LegalTrademarks", "\0"
			VALUE "OriginalFilename","MFCO42D.DLL\0"
			VALUE "ProductName",     "Microsoft (R) Visual C++\0"
			VALUE "ProductVersion",  FULLSZVER "\0"
			VALUE "OLESelfRegister", "\0"
#endif // _WIN32_WCE
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
			// English language (0x409) and the Windows ANSI codepage (1252)
	END
END

#else // RETAIL

// Version Info for MFCO42.DLL
VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       rmj,rmm,rup,_MFC_RBLD
  PRODUCTVERSION    rmj,rmm,0,0
#if !defined(_WIN32_WCE)
  FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
#ifndef RELEASE
  FILEFLAGS         VS_FF_PRERELEASE
#else
  FILEFLAGS         0 // final version
#endif
  FILEOS            VOS_NT_WINDOWS32
  FILETYPE          VFT_DLL
  FILESUBTYPE       0   // not used
#endif // _WIN32_WCE
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilual
		BEGIN
			VALUE "CompanyName",     "Microsoft Corporation\0"
			VALUE "FileDescription", "MFCOLE Shared Library - Retail Version\0"
			VALUE "FileVersion",     FULLSZVER "\0"
#if !defined(_WIN32_WCE)
			VALUE "InternalName",    "MFCOLE\0"
#endif // _WIN32_WCE
			VALUE "LegalCopyright",  "Copyright (C) Microsoft Corp. 1993-2004\0"
#if !defined(_WIN32_WCE)
			VALUE "LegalTrademarks", "\0"
			VALUE "OriginalFilename","MFCO42.DLL\0"
			VALUE "ProductName",     "Microsoft (R) Visual C++\0"
			VALUE "ProductVersion",  FULLSZVER "\0"
			VALUE "OLESelfRegister", "\0"
#endif // _WIN32_WCE
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
			// English language (0x409) and the Windows ANSI codepage (1252)
	END
END

#endif // _DEBUG

/////////////////////////////////////////////////////////////////////////////
