#include <windows.h>

#include "crd.h"
#include "cdt.h"
#include "sol.h"
#include "solid.h"

#ifdef _WIN32_WCE
#include <winver.h>
#else
#include <ntverp.h>
#endif

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     TEXT("Solitaire Game Applet")
#define VER_INTERNALNAME_STR        TEXT("sol.exe")
#define VER_ORIGINALFILENAME_STR    TEXT("sol.exe")
#define VER_FILEFLAGSMASK           0x3F
#define VER_FILEFLAGS               VS_FFI_FILEFLAGSMASK
#define VER_FILEOS                  VOS__WINDOWS32
#define VER_COMPANYNAME_STR         TEXT("Microsoft")

#include "common.ver"

1 MENU 
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&Deal\t F2",                  idsInitiate	
        MENUITEM SEPARATOR
        MENUITEM "&Undo",                       idsUndo	
        MENUITEM "De&ck...",                    idsBacks
        MENUITEM "&Options...",                 idsOptions
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       idsExit	
    END

#if DBG
    POPUP "   "
    BEGIN
        MENUITEM "Set &Game Number",            idsGameNo
        MENUITEM "&Print icrdMacs",             idsCardMacs	
        MENUITEM "&Force Win",                  idsForceWin
        MENUITEM "&Assert Failure",             idsAssertFail
        MENUITEM "&Marquee Test",               idsMarquee
        MENUITEM "&Configure for screen shots", idsScreenShots
    END
#endif

#ifndef _WIN32_WCE
    POPUP "&Help"
    BEGIN
        MENUITEM "&Contents\t F1",              idsHelpIndex
        MENUITEM "&Search for Help on...",      idsHelpSearch
#if 0
        MENUITEM "&How to Use Help",            idsHelpUsing
#endif
        MENUITEM SEPARATOR
        MENUITEM "&About Solitaire",            idsAbout
    END
#endif
END

HiddenAccel ACCELERATORS {
      0x32,  idsForceWin, VIRTKEY, NOINVERT, ALT, SHIFT
      VK_F2, idsInitiate, VIRTKEY
}

STRINGTABLE
BEGIN
    
    idsAppName,     TEXT("Solitaire")
    idsScore,       TEXT("Score: ")
    idsTime,        TEXT("Time: ")
    idsCardDraw,    TEXT("CardDraw")
    idsDealAgain,   TEXT("Deal Again?")
    idsHelpFile	,   TEXT("sol.chm")
    idsEndWinner,   TEXT("Press Esc or a mouse button to stop...")
    idsBonus,       TEXT("Bonus: ")
    idsExtraInfo,   TEXT("Developed for Microsoft by Wes Cherry")

    idsBack,        TEXT("Back")
    idsOpts,        TEXT("Options")
    idsBitmap,      TEXT("Bitmap")
    idsiCurrency,   TEXT("iCurrency")
    idssCurrency,   TEXT("sCurrency")
    idsIntl,        TEXT("intl")

    idsOOM,         TEXT("Out of memory")
    idsNoHelp,      TEXT("Unable load Windows Help application")
    idsNoBitmap,    TEXT("Unable to load bitmap; do you want to use a green background?")
    idsNoFullDrag,  TEXT("Insufficient memory to display card faces when cards move;\n\nselect the Outline dragging box from the Options menu.")

    idsInitiate	,   TEXT("Deal a new game")
    idsUndo,        TEXT("Undo last action")
    idsBacks,       TEXT("Choose new deck back")
    idsOptions,     TEXT("Change Solitaire options")
    idsExit,        TEXT("Exit Solitaire")
    idsGameNo,      TEXT("Set game number")
    idsCardMacs,    TEXT("Print # of cards in each col")
    idsAssertFail,  TEXT("Assertion failure")
    idsMarquee,     TEXT("Heck, I don't know")
    idsScreenShots, TEXT("Configure Solitaire for screen shots")
    idsForceWin,    TEXT("Force a win")


    idsHelpIndex,   TEXT("Index of Solitaire help topics")
    idsHelpSearch,  TEXT("Search the Help Engine for a specific topic")
    idsHelpUsing,   TEXT("Help using help")
    idsAbout,       TEXT("About Solitaire")

END

#include "solid.h"
#include "sol.dlg"

#include "gameno.dlg"
#include "assert.h"
#include "assert.dlg"

ID_ICON_MAIN    ICON  Solitaire.ico

#ifndef NO_MANIFEST
1 24 sol.manifest
#endif
