#include <windows.h>

#include "reversi.h"

1 24 reversi.manifest

4 BITMAP REVPAT1.bmp
5 BITMAP REVPAT8.bmp

3 ICON REVERSI.ICO
1 CURSOR PRELOAD blank.cur
1 MENU
BEGIN
    POPUP TEXT("&Game")
        BEGIN
            MENUITEM TEXT("&Hint"), 50
            MENUITEM TEXT("&Pass"), 20
            MENUITEM TEXT("&New"),  25
            MENUITEM TEXT("Change &Color Mode"), 26
            MENUITEM SEPARATOR
            MENUITEM TEXT("E&xit"), 52
        END
    POPUP TEXT("&Skill")
        BEGIN
            MENUITEM TEXT("&Beginner"), 41
            MENUITEM TEXT("&Novice"),   42
            MENUITEM TEXT("&Expert"),   44
            MENUITEM TEXT("&Master"),   46
        END
#ifndef NOHELP
    POPUP TEXT("&Help")
        BEGIN
            MENUITEM TEXT("&Index"),            MN_HELP_INDEX
            MENUITEM TEXT("&Search"),           MN_HELP_SEARCH
#if 0
            MENUITEM TEXT("&Keyboard"),         MN_HELP_KEYBOARD
            MENUITEM TEXT("&Commands"),         MN_HELP_COMMANDS
            MENUITEM TEXT("&Playing the Game"), MN_HELP_PLAYING
            MENUITEM TEXT("&Rules"),            MN_HELP_RULES
            MENUITEM TEXT("&Using Help"),       MN_HELP_USINGHELP
#endif
            MENUITEM SEPARATOR
            MENUITEM TEXT("&About Reversi..."), MN_HELP_ABOUT
        END
#else
    POPUP TEXT("&Info")
        BEGIN
            MENUITEM TEXT("&About Reversi..."), MN_HELP_ABOUT
        END
#endif /*NOHELP*/
END

MAINACC ACCELERATORS
BEGIN
    "^h",    50,                NOINVERT
    VK_F1,   MN_HELP_INDEX,     VIRTKEY
    VK_F10,  27,                VIRTKEY
END

STRINGTABLE
BEGIN
    3, TEXT("Reversi")
    4, TEXT("Reversi Practice Game")
    5, TEXT("Pass")
    6, TEXT("You must Pass")
    7, TEXT("Tie Game")
    8, TEXT("You Lost by ")        /* space at the end is required */
    9, TEXT("You Won by ")         /* space at the end is required */
    10, TEXT("About Reversi...")
    11, TEXT("")                   /* the post string for the loss message */
    12, TEXT("")                   /* the post string for the won message */
    13, TEXT("You may only move to a space where the cursor is a cross.")
    14, TEXT("You may not pass.  Move where the cursor is a cross.")
    15, TEXT("reversi.chm")
    30, TEXT("Could not retrieve help index")
#if 0
    31, TEXT("Could not retrieve keyboard help")
    32, TEXT("Could not retrieve commands help")
    33, TEXT("Could not retrieve playing help")
    34, TEXT("Could not retrieve rules help")
#endif
    37, TEXT("Could not retrieve search for help")
END

VS_VERSION_INFO		VERSIONINFO
FILEVERSION		5,0,0,0
PRODUCTVERSION    	5,0,0,0
FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS		1
#else /* NDEBUG */
FILEFLAGS		0
#endif /* _DEBUG */
FILEOS			VOS_NT_WINDOWS32
FILETYPE		VFT_APP //
FILESUBTYPE		0	// not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription",	"Reversi\0"
      VALUE "CompanyName", "Microsoft"
      VALUE "FileVersion",	"5.0\0"
      VALUE "InternalName",	"decompkernelcache.exe\0"
      VALUE "LegalCopyright",	"(C) Microsoft, all rights reserved\0"
      VALUE "OriginalFilename",	"reversi.exe\0"
      VALUE "ProductName",	"reversi\0"
      VALUE "ProductVersion",	"5.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

#include "reversi.dlg"

