/***************************************************************************/
/**                  Microsoft Windows                                    **/
/**            Copyright(c) Microsoft Corp., 1991, 1992                   **/
/***************************************************************************/

#include <windows.h>
#include <afxres.h>
#include "resource.h"
#include "hearts.rcv"
#include "hearts.dlg"

#ifndef NO_MANIFEST
1 24 hearts.manifest
#endif

AFX_IDI_STD_FRAME   ICON    HEARTS.ICO

SND_BREAK   WAVE    glass.wav
SND_QUEEN   WAVE    timpani.wav
SND_QUOTE   WAVE    quote2.wav

HeartsMenu  MENU
BEGIN
    POPUP        "&Game"
    BEGIN
        MENUITEM "&New Game\tF2",       IDM_NEWGAME
        MENUITEM SEPARATOR
        MENUITEM "&Options...\tF7",     IDM_OPTIONS
        MENUITEM "&Sound\tF8",          IDM_SOUND
        MENUITEM "S&core...\tF9",       IDM_SCORE
        MENUITEM "Ch&eat\tF10",         IDM_CHEAT
        MENUITEM SEPARATOR
        MENUITEM "E&xit",               IDM_EXIT
    END
#ifndef _WIN32_WCE
    POPUP        "&Help"
    BEGIN
        MENUITEM "&Help Topics",            IDM_HELP
//      MENUITEM "&Search for Help on...",  IDM_SEARCH
//      MENUITEM "&How to Use Help",        IDM_HELPONHELP
        MENUITEM SEPARATOR
        MENUITEM "&Quote...",           IDM_QUOTE
        MENUITEM "&About Hearts",       IDM_ABOUT
    END
#endif
END

HeartsAccel ACCELERATORS
BEGIN
#ifndef _WIN32_WCE
    VK_F1,      IDM_HELP,       VIRTKEY
    VK_F1,      IDM_HELP,       VIRTKEY, SHIFT
#endif
    VK_ESCAPE,  IDM_BOSSKEY,    VIRTKEY
    VK_F2,      IDM_NEWGAME,    VIRTKEY
    VK_F7,      IDM_OPTIONS,    VIRTKEY
    VK_F8,      IDM_SOUND,      VIRTKEY
    VK_F9,      IDM_SCORE,      VIRTKEY
    VK_F10,     IDM_CHEAT,      VIRTKEY
END

STRINGTABLE
BEGIN
    IDS_MEMORY,      TEXT("Out of memory.  Close some other applications and try again.")
    IDS_APPNAME,     TEXT("The Microsoft Hearts Network")
    IDS_CONNECTING,  TEXT("Trying to connect with dealer...")
    IDS_P1NAME,      TEXT("Pauline")
    IDS_P2NAME,      TEXT("Michele")
    IDS_P3NAME,      TEXT("Ben")

    IDS_INTRO,       TEXT("Welcome to the Microsoft Hearts Network.")
    IDS_SELECT,      TEXT("Select three cards to pass to")
    IDS_PASSWAIT,    TEXT("Waiting for other players to pass...")
    IDS_WAIT1,       TEXT("Waiting for ")
    IDS_WAIT2,       TEXT(" to move...")
    IDS_GO,          TEXT("Select a card to play.")
    IDS_ACCEPT,      TEXT("Press OK to accept cards.")
    IDS_OK,          TEXT("OK")

    IDS_BADMOVE,     TEXT("You must follow suit.  Play a")
    IDS_LEADHEARTS,  TEXT("Hearts has not been broken.  Choose another suit.")
    IDS_LEAD2C,      TEXT("You must lead the two of clubs.")
    IDS_SCORE,       TEXT("Score")
    IDS_SCORESHEET,  TEXT("Score Sheet")
    IDS_PLACE1,      TEXT("First Place")
    IDS_PLACE2,      TEXT("Second Place")
    IDS_PLACE3,      TEXT("Third Place")
    IDS_PLACE4,      TEXT("Last Place")

    IDS_DISCONNECT,  TEXT("The dealer has left the game.\nHearts will end.")
    IDS_NOSERVER,    TEXT("Unable to connect with dealer.\nHearts will end.")
    IDS_SERVERFAIL,  TEXT("Unable to establish DDE server.\nHearts will end.")
    IDS_CARDSDLL,    TEXT("Cannot find cards.dll.\nHearts will end.")
    IDS_VERSION,     TEXT("This version of Hearts is incompatible with the Dealer's version.  Hearts will end.")
    IDS_PWAIT,       TEXT("Waiting for dealer to start game...")
    IDS_GMWAIT,      TEXT("Waiting for others to join...   Press F2 to begin with current players.")

    IDS_BUSY,        TEXT("Sorry, game is already in progress.")
    IDS_TIMEOUT,     TEXT("Network timeout error.\r\nHearts will end.")
    IDS_UNKNOWNERR,  TEXT("Network communication error.\r\nHearts will end.")

    IDS_GAMEOVER,    TEXT("Game Over")
    IDS_GAMEOVERWIN, TEXT("Game Over -- You Win")
    IDS_NETWORK,     TEXT("Hearts Network")

    IDS_NOTREADY,    TEXT("The dealer is not ready, or the game is already in progress.")
    IDS_AGAIN,       TEXT("Do you want to play again?")
    IDS_BADBLOOD,    TEXT("You cannot play a point card on the first trick.  Select again.")

    IDS_SUIT0,       TEXT("club")
    IDS_SUIT1,       TEXT("diamond")
    IDS_SUIT2,       TEXT("heart")
    IDS_SUIT3,       TEXT("spade")

    IDS_PASSLEFT,    TEXT("Pass Left")
    IDS_PASSRIGHT,   TEXT("Pass Right")
    IDS_PASSACROSS,  TEXT("Pass Across")

    IDS_UNKNOWN,     TEXT("Unknown")
    IDS_DEALER,      TEXT("Dealer")

    IDS_CREDITS,     TEXT("I come not, friends, to steal away your hearts...\n\n\tJulius Caesar, Act III, Scene ii")
    IDS_FONTFACE,    TEXT("Tahoma")
    IDS_CHARSET,     TEXT("0")
    IDS_FONTSIZE,    TEXT("13")
    IDS_STARTMENUNAME, TEXT("Hearts")
    IDS_INFOTIP,     TEXT("Begins the Hearts card game.")
END

