#include "windows.h"
#include "freecons.h"

#ifdef _WIN32_WCE
#include "cards.rc"
#endif

#ifndef _WIN32_WCE
1 RT_MANIFEST freecell.xml
#endif

ID_ICON_MAIN    ICON  freecell.ico

DownArrow        CURSOR  DOWN.CUR

KingBitmap       BITMAP  KING.BMP

KingLeft         BITMAP  KINGL.BMP

KingSmile        BITMAP  KINGS.BMP

FreeMenu MENU
BEGIN
    POPUP        TEXT("&Game")
    BEGIN
        MENUITEM TEXT("&New Game\tF2"),       IDM_NEWGAME
        MENUITEM TEXT("&Select Game\tF3"),    IDM_SELECT
        MENUITEM TEXT("&Restart Game"),       IDM_RESTART,    GRAYED
        MENUITEM SEPARATOR
        MENUITEM TEXT("S&tatistics...\tF4"),  IDM_STATS
        MENUITEM TEXT("&Options...\tF5"),     IDM_OPTIONS
        MENUITEM SEPARATOR
        MENUITEM TEXT("&Undo\tF10"),          IDM_UNDO,       GRAYED
        MENUITEM SEPARATOR
        MENUITEM TEXT("E&xit"),               IDM_EXIT
    END
#ifndef _WIN32_WCE
    POPUP        TEXT("&Help")
    BEGIN
        MENUITEM TEXT("&Contents\t F1"),           IDM_HELP
        MENUITEM TEXT("&Search for Help on..."),   IDM_HOWTOPLAY
        MENUITEM TEXT("&How to Use Help"),         IDM_HELPONHELP
        MENUITEM SEPARATOR
        MENUITEM TEXT("&About FreeCell..."),          IDM_ABOUT
    END
#endif
END

FreeMenu ACCELERATORS
BEGIN
#ifndef _WIN32_WCE
    VK_F1,      IDM_HELP,       VIRTKEY
    VK_F1,      IDM_HELP,       VIRTKEY, SHIFT
#endif
    VK_F2,      IDM_NEWGAME,    VIRTKEY
    VK_F3,      IDM_SELECT,     VIRTKEY
    VK_F4,      IDM_STATS,      VIRTKEY
    VK_F5,      IDM_OPTIONS,    VIRTKEY
    VK_F10,     IDM_UNDO,       VIRTKEY
    VK_F10,     IDM_CHEAT,      VIRTKEY, CONTROL, SHIFT
END

MoveCol DIALOG LOADONCALL MOVEABLE DISCARDABLE 40, 40, 150, 80
CAPTION "Move to Empty Column..."
#ifdef _WIN32_WCE
STYLE WS_CAPTION
#else
STYLE DS_MODALFRAME | WS_CAPTION
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Move &column", IDC_MOVECOL, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 30, 15, 90, 14
    CONTROL "Move &single card", IDC_SINGLE, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 30, 35, 90, 14
    CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 55, 57, 40, 14
END

GameNum DIALOG LOADONCALL MOVEABLE DISCARDABLE 40, 40, 120, 75
CAPTION "Game Number"
#ifdef _WIN32_WCE
STYLE WS_CAPTION | WS_SYSMENU
#else
STYLE DS_MODALFRAME | WS_CAPTION | DS_CONTEXTHELP | WS_SYSMENU
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Select a game number", -1, "static", SS_CENTER | WS_CHILD, 0, 7, 121, 8
    CONTROL "from 1 to 1000000", -1, "static", SS_CENTER | WS_CHILD, 0, 17, 121, 8
    CONTROL "", IDC_GAMENUM, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 45, 32, 40, 12
    CONTROL "OK", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 40, 54, 40, 14
END

YouLose DIALOG LOADONCALL MOVEABLE DISCARDABLE 60, 60, 135, 90
CAPTION "Game Over"
#ifdef _WIN32_WCE
STYLE WS_CAPTION
#else
STYLE DS_MODALFRAME | WS_CAPTION
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Sorry, you lose. There are no more legal moves.\n Do you want to play again?",
            -1, "static", SS_LEFT | WS_CHILD, 15, 6, 120, 40
    CONTROL "&Yes", IDYES, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 15, 70, 40, 14
    CONTROL "&No", IDNO, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 80, 70, 40, 14
    CONTROL "&Same game", IDC_YLSAME, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 15, 55, 62, 12
END

YouWin DIALOG LOADONCALL MOVEABLE DISCARDABLE 172, 85, 135, 80
CAPTION "Game Over"
#ifdef _WIN32_WCE
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
#else
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | DS_MODALFRAME | WS_POPUP
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Congratulations, you win!\nDo you want to play again?",
             -1, "static", SS_CENTER | WS_CHILD, 15, 8, 105, 31
    CONTROL "&Yes", IDYES, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 15, 58, 40, 14
    CONTROL "&No", IDNO, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 80, 58, 40, 14
    CONTROL "&Select game", IDC_YWSELECT, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 15, 43, 63, 12
END

Stats DIALOG LOADONCALL MOVEABLE DISCARDABLE 84, 47, 150, 135
CAPTION "FreeCell Statistics"
#ifdef _WIN32_WCE
STYLE WS_CAPTION | WS_SYSMENU
#else
STYLE DS_MODALFRAME | WS_CAPTION | DS_CONTEXTHELP | WS_SYSMENU
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_STEXT1, "static", SS_LEFT | WS_CHILD, 11, 10, 130, 30
    CONTROL "", IDC_STEXT2, "static", SS_LEFT | WS_CHILD, 11, 42, 130, 30
    CONTROL "", IDC_STEXT3, "static", SS_LEFT | WS_CHILD, 11, 74, 130, 40           
    CONTROL "OK", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 20, 115, 40, 14
    CONTROL "&Clear", IDC_CLEAR, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 90, 115, 40, 14
END

DLG_OPTIONS DIALOG DISCARDABLE  58, 68, 203, 63
CAPTION "FreeCell Options"
#ifdef _WIN32_WCE
STYLE WS_CAPTION | DS_3DLOOK | WS_SYSMENU
#else
STYLE DS_MODALFRAME | WS_CAPTION | DS_3DLOOK | DS_CONTEXTHELP | WS_SYSMENU
#endif
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,148,9,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,148,26,50,14
    CONTROL         "Display &messages on illegal moves",IDC_MESSAGES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,6,9,136,10
    CONTROL         "&Quick play (no animation)",IDC_QUICK,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,6,26,136,10
    CONTROL         "&Double click moves card to free cell",IDC_DBLCLICK,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,6,43,136,10
END


STRINGTABLE
BEGIN
    IDS_APPNAME,    TEXT("FreeCell")
    IDS_APPNAME2,   TEXT("FreeCell Game #%d")
    IDS_MEMORY,     TEXT("Out of memory.  Close other applications and try again.")
    IDS_RESIGN,     TEXT("Do you want to resign this game?")
    IDS_1WIN,       TEXT("1 win")
    IDS_1LOSS,      TEXT("1 loss")
    IDS_WINS,       TEXT("%u wins")
    IDS_LOSSES,     TEXT("%u losses")
    IDS_STREAK,     TEXT("streak")
    IDS_STYPE,      TEXT("stype")
    IDS_ILLEGAL,    TEXT("That move is not allowed.")
    IDS_TOOFEWFREE, TEXT("That move requires moving %u cards. You only have enough free space to move %u.")
    IDS_CARDSLEFT,  TEXT("Cards Left: %u")
    IDS_FULLNAME,   TEXT("FreeCell")
    IDS_CREDITS,    TEXT("by Jim Horne")
/* keywords for help */
    IDS_HELP1       TEXT("How to Play")
    IDS_HELP2       TEXT("Commands")
/* new strings for NT */
    IDS_RU_SURE,    TEXT("Are you sure you want to delete all statistics?")
/* stat string */
    IDS_STATS1      TEXT("This session\t\t\t%u%%\n\twon:\t\t%u \n\tlost:\t\t%u%\n\n")
    IDS_STATS2      TEXT("Total\t\t\t\t%u%%\n\twon:\t\t%u \n\tlost:\t\t%u%\n\n")
    IDS_STATS3      TEXT("Streaks\n\twins:\t\t%u \n\tlosses:\t\t%u% \n\tcurrent:\t\t%s")

END

#ifdef _WIN32_WCE
#include <winver.h>
#else
#include <ntverp.h>
#endif

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     TEXT("Entertainment Pack FreeCell Game")
#define VER_INTERNALNAME_STR        TEXT("freecell\0")

#ifndef VER_FILEFLAGSMASK
#define VER_FILEFLAGSMASK 0x3F
#endif

#ifndef VER_FILEFLAGSMASK
#define VER_FILEFLAGS VS_FFI_FILEFLAGSMASK
#endif

#ifndef VER_FILEOS
#define VER_FILEOS VOS__WINDOWS32
#endif

#ifndef VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR TEXT("Microsoft")
#endif

#include "common.ver"
